@use '../../../../styles/sass/abstracts/' as *;

.row {
  margin-top: 2rem;
  padding: 0.5rem;
  border: 2px solid $codle-base-color;
  color: $codle-text-color;
  background-color: $codle-background-color;
  width: 20vw;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  user-select: none;

  &:focus {
    outline-width: 0;
}
}