.showcase {
  background: url('../../public/images/hero-image.jpg') no-repeat center/cover;
  height: 50vh;
  color: #FFFFFF;

  .overlay {
    background-color: rgba(0, 0, 15, 0.7);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}