@use '../../styles/sass/abstracts/' as *;

.border {
  display: flex;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  max-width: 40%;

  p {
    padding: 1rem;
    background-color: darkred;
    color: $main-white;
    border-radius: 4px;
  }
}