@use '../../../../styles/sass/abstracts/' as *;

.board {
  width: 350px;
  height: 420px;
  margin: 2rem auto;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  color: $codle-text-color;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: $codle-text-color;
  text-transform: uppercase;
  user-select: none;
}

.empty {
  border: 2px solid $codle-base-color;
}

.correct {
  background-color: $codle-success-color;
  border: none !important
}

.present {
  background-color: $codle-present-color;
  border: none !important
}