// VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

// COLOURS
$primary-color: #111827;
$complementary-color: #9ca3af;
$brand-color: #4338ca;
$main-white: #FFFFFF;

// TYPOGRAPHY
$primary-font: 'Roboto', sans-serif;